<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.legend.androidstudyapp">
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
<!--    忽略电池优化 https://blog.csdn.net/qq_35644925/article/details/118969312 -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
<!--    <uses-feature-->
<!--        android:name="android.software.leanback"-->
<!--        android:required="true" />-->
    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidStudyApp">
        <meta-data
            android:name="design_width_in_dp"
            android:value="375"/>
        <meta-data
            android:name="design_height_in_dp"
            android:value="667"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

<!--                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>-->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--        <activity-alias-->
<!--            android:name="changeAfter"-->
<!--            android:enabled="false"-->
<!--            android:icon="@drawable/ic_home_light"-->
<!--            android:label="@string/app_name2"-->
<!--            android:targetActivity=".MainActivity">-->

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

<!--        </activity-alias>-->

        <activity android:name=".customerview.CustomerViewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".TestLeakCanaryActivity" />
        <activity android:name=".livedata.TestLiveDataActivity" />
        <activity android:name=".jetpack.TestRoomActivity" />
        <activity android:name=".TestArouterActivity" />
        <activity android:name=".bitmap.BitmapActivity" />
        <activity android:name=".scrolltextview.ScrollTextViewActivity" />
        <activity android:name=".rxjava.RxjavaActivity" />
        <activity android:name=".jetpack.workmanager.WorkManagerTestActivity" />
        <activity android:name=".WebViewCommentActivity" />
        <activity android:name=".notify.NotifyActivity" />
        <activity android:name=".immerse.ImmerseActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity android:name=".customerview.FlowLayoutActivity" />
        <activity android:name=".audio.AudioActivity"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>

                <!--必有项-->
                <action android:name="android.intent.action.VIEW"/>
                <!--表示该页面可以被隐式调用，必须加上该项-->
                <category android:name="android.intent.category.DEFAULT"/>
                <!--表示应用可以通过浏览器的连接启动，可选-->
                <category android:name="android.intent.category.BROWSABLE"/>

                <!--协议部分-->
                <data android:host="hello.world" android:port="1024" android:path="/test" android:scheme="mytest" />
            </intent-filter>
        </activity>
    </application>

</manifest>